@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<!DOCTYPE html>
<html>
<body>
    <div class="wrapper wrapper-content  animated fadeInRight article">
        <div class="row justify-content-md-center">
            <div class="col-lg-10">
                <div class="ibox">
                    <div class="ibox-content">
                        <div class="text-center article-title">
                            <h1>
                                Blografya
                            </h1>
                        </div>
                        <p>
                            Blog veya Weblog teknik bilgi gerektirmeden, kendi istedikleri şeyleri, kendi istedikleri şekilde yazan insanların oluşturabildikleri, günlüğe benzeyen web siteleridir. Genellikle güncelden eskiye doğru sıralanmış yazı ve yorumların yayınlandığı, web tabanlı bir yayını belirtir. Çoğunlukla her gönderinin sonunda yazarın adı ve gönderi zamanı belirtilir. Yayıncının seçimine göre okuyucular yazılara yorum yapılabilir. Yorumlar, blog kültürünün çok önemli bir dinamiğidir; bu sayede yazar ve okuyucular arasında iletişim sağlanır. Bunun dışında, geri izleme (trackback) mekanizmasıyla, belirli bir yazı hakkında yazılan diğer yazıların belirlenebilmesi de mümkündür. İlk bloglar elle yazılıp güncellenirken, bugün bu iş için özel yazılmış yazılımlar kullanılmaktadır. Bu yazılımlardan bazıları bir blog servisi sağlayıcı sitenin alt alan adları olarak yaratılabilen, bazıları ise kullanıcının kendi sunucusuna kurup çalıştırması gereken wordpress, joomla, Drupal gibi yazılımlardır.
                        <p>
                            <strong>Blog türleri</strong>
                        </p>
                        <p>
                            Kişisel Bloglar; İnternet üzerinde bireysel olarak oluşturulan, genel veya belli bir odak noktası olan blog çeşididir. Büyük oranda blog yazarının ismini veya takma adını alırlar. Yazarın bireysel günlüğü olmak dışında gündemi kendi kalemi ile yansıttığı ortamdır. Bu tür bloglar çok fazla deneyimi olmayan kişilerin bile kullanabileceği ve sayfalarını düzenleyebileceği yapıdadır ve daha çok günlük olarak kullanılırlar. Kişilerin günlük yaşamda yaşadıkları olayları, karşılaştıkları durumları okurlarıyla paylaşmasını sağlar. Bloglarda en fazla rastlanan türdür. Kişisel bloglar özellikle de son dönemde oldukça büyük yaygınlaşma göstermiştir.
                        </p>
                        <p>
                            Temasal Bloglar; Sadece belirli bir alanda yazılan gönderilerin yer aldığı, belirli bir konuda uzman kişilerin yazdığı ve düzenlediği bloglardır. Politika, pazarlama, yemek, internet, ekonomi, tasarım, fotoğraf, programlama dillerive benzeri konularda odaklanmış bloglar bulunmaktadır. Türkçe olarak yayınlanan bloglarda en fazla ilgiyi yemek ve moda konulu bloglar çekmekte, sayı olarak ise bilgisayar blogları göze çarpmaktadır.
                        </p>
                        <p>
                            Kurumsal Bloglar; Şirketlerin kendileri ile ilgili haber ve duyurularını daha samimi bir şekilde halka açtıkları bloglardır. Dünyada ve iş hayatında giderek önem kazanmaktadır. Türkiye'de az sayıda olsa da bazı şirketler şirket bloglarını hizmete sunmaya başlamıştır. Aslında yeryüzündeki akım, şirketin doğrudan değil, samimi karakterdeki bazı çalışanların desteklenmesi yoluyla bloglamaktır. Hatta en ünlü şirket bloglarını tutan Microsoft çalışanları, samimiyetlerine inandırmak için ara sıra rakip firmaların ürünlerini de övmekte, reklamını yapmaktadır.
                        </p>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>


